@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/*p*/

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(240, 157, 223);
    text-align: center;
    padding-bottom: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(/img/back-9.jpg);
    background-size: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
}

nav {
    display: flex;
    justify-content: right;
    margin-right: 35px;
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    color: rgb(236, 78, 205);
    background-color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(236, 78, 205);
    color: white;
    transition-duration: 0.4s;
}

header h1 {
    color: rgb(236, 78, 205);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    font-size: 90px;
    font-weight: normal;
    font-family: "Hachi Maru Pop", cursive;
}

body {
    background-color: rgb(238, 200, 230);
}


.menu-bolos-caseiros {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

.dois {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0px 0px 45px;
}

.card img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
    transition: transform 0.3s ease-in-out
}

.card img:hover {
    transform: translateY(-5px);
}

.conteudo-card {
    color: rgb(236, 78, 205);
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.445);
    font-family: "Playwrite NO", cursive;
}

