@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
/*h1*/

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/*p*/


* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(240, 157, 223);
    min-height: 100px;
    text-align: center;
    padding-top: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    background-image: url(/img/back-9.jpg);
    background-size: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
}

header h1 {
    color: rgb(236, 78, 205);
    margin-top: 0px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    font-size: 100px;
    font-weight: normal;
    font-family: "Yesteryear", cursive;
    ;
}

header p {
    color: rgb(236, 78, 205);
    font-size: 30px;
    font-family: "Hachi Maru Pop", cursive;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.445);
    padding: 0px 10px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: right;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.486);
    padding: 7px 10px 7px 0px;
    padding-right: 25px;
}

nav a {
    color: rgb(236, 78, 205);
    background-color: white;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-radius: 20px;
}


nav a:hover {
    background-color: rgb(236, 78, 205);
    color: white;
    transition-duration: 0.4s;
}

body {
    background-color: rgb(238, 200, 230);
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    height: 350px;
    width: 300px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition-duration: 0.3s;
}

.card:hover img {
    transform: scale(1.05);
    opacity: 0.75;
}

.conteudo-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0));
}

.conteudo-card h3 {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 30px;
}

button {
    background-color: rgb(238, 199, 230);
    margin-bottom: 20px;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: black;
    border: none;
}

button:hover {
    background-color: rgb(236, 78, 205);
    color: white;
    transition-duration: 0.4s;
}

footer {
    background-color: rgb(109, 7, 87);
    color: rgb(238, 199, 230);
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a {
    color: rgb(238, 199, 230);
}




@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 10px;
    }

    .card {
        max-width: 400px;
        margin: 0 auto;
    }
}