@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(241, 177, 228);
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    padding: 10px;
}

header p {
    padding: 20px;
}

nav {
    display: flex;
    padding: 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.486);
}

nav a {
    padding: 0px 10px;
    text-decoration: none;
}

body {
    
}