@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(241, 177, 228);
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    font-size: 50px;
    font-weight: normal;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 50px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: right;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.486);
    padding: 15px 10px 5px 0px;
    gap: 10px;
}

nav a {
    color: black;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


nav a:hover {
    background-color: rgb(217, 147, 204);
    color: black;
    transition-duration: 0.4s;
}

